.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #fa0511; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff2222,
    #6e821e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff2222,
    #6e821e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
}

header > img {
  height: 90%;
  margin-left: 10%;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 30px;
  margin-left: 60px;
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme > img {
  width: 40vw;
  height: 30vh;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

.meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form > input {
  width: 45%;
  height: 40px;
  border-radius: 8px;
}

.meme-form > button {
  border: none;
  font-family: VT323, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff0047;
  border-radius: 8px;
}
#checkAgain {
  border: none;
  font-family: VT323, monospace;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff0047;
  border-radius: 10px;
}

#hideTruth {
  border: none;
  font-family: VT323, monospace;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff0047;
  border-radius: 10px;
}

.meme-form > input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: VT323, monospace;
  font-size: 20px;
  text-align: cen;
}
.meme-form > input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: VT323, monospace;
  font-size: 20px;
  text-align: cen;
}
.meme-form > input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: VT323, monospace;
  font-size: 20px;
  text-align: cen;
}
.meme-form > input:-moz-placeholder {
  /* Firefox 18- */
  font-family: VT323, monospace;
  font-size: 20px;
  text-align: cen;
}

#harold_serious {
  margin-left: 10px;
  margin-top: -10px;
  border-radius: 40%;
  width: 12vw;
  height: 10vw;
}

#harold_smile {
  margin-left: 2px;
  border-radius: 40%;
  width: 15vw;
  padding: 10px;
}
